#Contenu_Principal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#Menu_Haut {
  border-bottom: 2px solid #135a87;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  width: 100%;
}

#Centre_Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#Centre_Menu a {
  text-decoration: none;
  font-family: "Kiona";
  color: #135a87;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
  width: 32.66%;
  text-align: center;
}

#Centre_Menu a h1 {
  font-weight: normal;
}

#Centre_Menu h1:hover {
  color: #ec008c;
  transition-duration: 500ms;
}

#Selection_Menu {
  color: #ec008c;
}

#Selection_Gauche, #Selection_Droite {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #135a87;
}

#Partie {
  background-color: rgba(0, 0, 0, 0.3);
  color: #135a87;
  font-family: "Kiona";
  font-weight: normal;
  border-bottom: 2px solid #ec008c;
}

#Cancel {}

.fa-times {
  margin: 0;
  padding: 0;
  color: #ec008c;
}

#Selection_Gauche, #Selection_Centre, #Selection_Droite {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

#Position_Partie {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

#Position_Partie a:hover {
  color: #ec008c;
  transition-duration: 500ms;
}

#Position_Partie i {
  font-size: 2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#Position_Partie h2 {
  font-size: 2em;
  color: #ec008c;
  font-weight: normal;
}

#Position_Partie h3 {
  font-size: 1.5em;
  font-weight: normal;
}

#Partie_Basse {
  background-color: rgba(0, 0, 0, 0.3);
  color: #135a87;
  font-family: "Kiona";
  font-weight: normal;
  border-top: 2px solid #ec008c;
}

#Position_Partie_Basse {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#Position_Partie_Basse i {
  font-size: 2em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  color: #ec008c;
}

#Position_Partie_Basse .fa-globe {
  color: #135a87;
}

#Bloque_1, #Bloque_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#Bloque_1 {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#Bloque_2 {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#Footer_Bas {
  min-height: 20vh;
  flex-grow: 1;
}

.Elements_bas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Elements_bas h4 {
  font-size: 1em;
  color: white;
  font-family: "Kiona";
  font-weight: bolder;
}

.Elements_bas a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #135a87;
  font-weight: bolder;
}

.Slash {
  font-family: "Kiona";
  color: #ec008c;
  font-size: 4em;
  margin: 0 0 0.15em 0;
  text-shadow: 0px 0px 10px #ec008c;
  font-weight: normal;
  width: 2.02%;
}

.Contenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  margin: 2em 10em 2em 10em;
  font-family: "Lato";
}

/* POUR LES ECRANS INFERIEURS A 1280px DE LARGE */
@media screen and (max-width:1280px) {
  #Menu_Haut h1 {
    font-size: 1.5em;
  }

  .Slash {
    font-size: 2.5em;
  }
}

/* POUR LES ECRANS INFERIEURS A 1060px DE LARGE */
@media screen and (max-width:1060px) {
  #Menu_Haut h1 {
    font-size: 1.3em;
  }
}

/* POUR LES ECRANS INFERIEURS A 1024px DE LARGE */
@media screen and (max-width:1024px) {
  #Menu_Haut {
    display: none;
  }

  #Selection_Menu_Bas {
    color: #ec008c;
  }

  .Contenu {
    min-height: 80vh;
    margin: 2em 2.5em 2em 2.5em;
  }

  #Partie_Basse {
    position: fixed;
    bottom: 4em;
    width: 100%;
  }
}

/* POUR LES ECRANS INFERIEURS A 835px DE LARGE */
@media screen and (max-width:835px) {
  #Bloque_1 {
    width: 100%;
  }

  #Bloque_2 {
    width: 100%;
  }
}
