#Contenu_Principal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#Menu_Haut {
  border-bottom: 2px solid #135a87;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  width: 100%;
}

#Centre_Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#Centre_Menu a {
  text-decoration: none;
  font-family: "Kiona";
  color: #135a87;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
  width: 32.66%;
  text-align: center;
}

#Centre_Menu a h1 {
  font-weight: normal;
}

#Centre_Menu h1:hover {
  color: #ec008c;
  transition-duration: 500ms;
}

.Slash {
  font-family: "Kiona";
  color: #ec008c;
  font-size: 4em;
  margin: 0 0 0.15em 0;
  text-shadow: 0px 0px 10px #ec008c;
  font-weight: normal;
  width: 2.02%;
}

/* POUR LES ECRANS INFERIEURS A 1280px DE LARGE */
@media screen and (max-width:1280px) {
  #Menu_Haut h1 {
    font-size: 1.5em;
  }

  .Slash {
    font-size: 2.5em;
  }
}

/* POUR LES ECRANS INFERIEURS A 1060px DE LARGE */
@media screen and (max-width:1060px) {
  #Menu_Haut h1 {
    font-size: 1.3em;
  }
}

/* POUR LES ECRANS INFERIEURS A 1024px DE LARGE */
@media screen and (max-width:1024px) {
  #Menu_Haut {
    display: none;
  }

  #Selection_Menu_Bas {
    color: #ec008c;
  }
}
