{% extends 'base.html.twig' %}
{% block title %} - Compétences{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href={{asset("css/3-Competences.css")}}/>
{% endblock %}

{% block body%}
  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>ACQUIS</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>SYMFONY 4</h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <i class="fab fa-php" aria-hidden="true"></i>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <i class="fab fa-html5" aria-hidden="true"></i>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <i class="fab fa-css3" aria-hidden="true"></i>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <i class="fab fa-vuejs" aria-hidden="true"></i>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        SQL
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        C++
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        C#
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <div class="flex-item flex-acquis flex-acquis-2"></div>
    <div class="flex-item flex-acquis"></div>
  </div>

  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>EN COURS</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Machine Learning
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Deep Learning
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Q-Learning
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Reinforcement Learning
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Unity
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Unreal Engine
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <div class="flex-item flex-encours-2"></div>
    <div class="flex-item flex-encours-2"></div>
    <div class="flex-item flex-encours"></div>
    <div class="flex-item flex-encours"></div>
  </div>

  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>LANGUES</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Français (Natif)
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>
        Anglais (785 TOEIC)
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <div class="flex-item flex-langues-3"></div>
    <div class="flex-item flex-langues-2"></div>
    <div class="flex-item flex-langues"></div>
  </div>
{% endblock %}
