{% extends 'base.html.twig' %}
{% block title %} - Compétences{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href={{asset("css/3-Competences.css")}}/>
{% endblock %}

{% block body%}
  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>ACQUIS</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    {% for Competences in Competences %}
    {% if Competences.type == "aquis" %}
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>{{ Competences.nom }}</h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
    <div class="flex-item flex-acquis flex-acquis-2"></div>
    <div class="flex-item flex-acquis"></div>
  </div>

  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>EN COURS</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    {% for Competences in Competences %}
    {% if Competences.type == "enCours" %}
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>{{ Competences.nom }}</h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
    <div class="flex-item flex-encours-2"></div>
    <div class="flex-item flex-encours-2"></div>
    <div class="flex-item flex-encours"></div>
    <div class="flex-item flex-encours"></div>
  </div>

  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>LANGUES</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    {% for Competences in Competences %}
    {% if Competences.type == "langues" %}
    <a href="4 - Lecture_Compétence.html" class="Conteneur">
      <h3>{{ Competences.nom }}</h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
    <div class="flex-item flex-langues-3"></div>
    <div class="flex-item flex-langues-2"></div>
    <div class="flex-item flex-langues"></div>
  </div>
{% endblock %}
