{% extends 'base.html.twig' %}
{% block title %} - Contact{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href={{asset("css/lectures_projets.css")}}/>
{% endblock %}

{% block body%}
  <div id="Partie">
    <div id="Position_Partie">
      <a href="" id="Selection_Gauche">
        <i class="fal fa-arrow-alt-left" aria-hidden="true"></i>
        <h3>Com4Up</h3>
      </a>
      <div id="Selection_Centre">
        <h2>FAERITH'S</h2>
      </div>
      <a href="" id="Selection_Droite">
        <h3>Streaming School</h3>
        <i class="fal fa-arrow-alt-right" aria-hidden="true"></i>
      </a>
      <a id="Cancel" href="3 - Compétences.html"><i class="fal fa-times" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="Contenu">

    <div id="Maquette">
      <div class="Image_Responsive">
        <img src="../images/Projets/Faeriths/1.jpg" alt="Maquette Faeriths" />
        <img src="../images/Projets/Faeriths/2.jpg" alt="Maquette Faeriths" />
        <img src="../images/Projets/Faeriths/3.jpg" alt="Maquette Faeriths" />
      </div>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div id="Partie_Basse">
    <div id="Position_Partie_Basse">
      <div class="Elements_bas">
        <i class="fal fa-code" aria-hidden="true"></i>
        <h4>HTML5 / CSS3 / SYMFONY 4</h4>
      </div>
      <div class="Elements_bas">
        <i class="fal fa-calendar-alt" aria-hidden="true"></i>
        <h4>2019</h4>
      </div>
      <div class="Elements_bas">
        <a href=""><i class="fal fa-globe" aria-hidden="true"></i>
          ACCEDER AU SITE WEB</a>
      </div>

    </div>
  </div>

{% endblock %}
