{% extends 'base.html.twig' %}
{% block title %} - Contact{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href={{asset("css/mentions_legales.css")}}/>
{% endblock %}

{% block body%}
  <div id="Contenu">

  </div>


{% endblock %}
