{% extends 'base.html.twig' %}
{% block title %} - Projets{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href={{asset("css/projets.css")}}/>
{% endblock %}

{% block body%}
  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>WEB</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <img id="Logo_1" src="../images/Logo/Com4up.png" alt="Logo Com4Up" />
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <img id="Logo_2" src="../images/Logo/Faeriths.png" alt="Logo Faeriths" />
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <img id="Logo_3" src="../images/Logo/StreamingSchool.png" alt="Logo Streaming School" />
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <img id="Logo_4" src="../images/Logo/Esuria.png" alt="Logo Esuria" />
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <h3>Portfolio de Sébastien Oulerich</h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <h3>Portfolio de Loic Oulerich</h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <div class="flex-item flex-web"></div>
    <div class="flex-item flex-web"></div>
    <div class="flex-item flex-web flex-web-2"></div>
    <div class="flex-item flex-web flex-web-2"></div>
  </div>

  <div class="Partie">
    <div class="Position_Partie">
      <div class="Angle_F1"></div>
      <h2>AUDIOVISUEL</h2>
      <div class="Angle_F2"></div>
    </div>
  </div>

  <div class="Contenu">
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <h3>
        Vidéo
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <h3>
        Vidéo
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <h3>
        Vidéo
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <a href="6 - Lecture_Projets.html" class="Conteneur">
      <h3>
        Vidéo
      </h3>
      <div class="Angle">
        <div class="Angle_Bleu_1"></div>
        <div class="Angle_Rose_1"></div>
        <div class="Angle_Rose_2"></div>
        <div class="Angle_Bleu_2"></div>
      </div>
    </a>
    <div class="flex-item flex-audiovisuel"></div>
    <div class="flex-item flex-audiovisuel-2"></div>
  </div>
{% endblock %}
