{% extends 'base.html.twig' %}
{% block title %} - Contact{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href={{asset("css/lectures_parcours.css")}}/>
{% endblock %}

{% block body%}
<h1>Create new parcours</h1>

  {{ include('parcours/_form.html.twig') }}

  <a href="{{ path('parcours') }}">back to list</a>

{% endblock %}
